<%= simple_form_for @user do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.input :lastname %>
        <%= f.input :email, required: true %>

        <% if ['new', 'create'].include?(action_name) %>
          <%= f.input :password, required: true %>
          <%= f.input :password_confirmation, required: true %>
        <% end %>

        <%= show_user_roles_options(f) if can?(:assign_roles, @user) %>
        <%= f.input :lock_version, as: :hidden %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
