<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="btn btn-default navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="iconic">&#xe055;</span>
      </a>

      <%= link_to t('app_name'), root_path, class: 'navbar-brand' %>
    </div>

    <% if user_signed_in? %>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= show_menu_link(
            name: 'users', controllers: 'users', path: users_path
          ) if can?(:read, User) %>
        </ul>
        <%= render partial: 'shared/nav_search' %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to(
              current_user.email, edit_profile_user_path(current_user),
              'title' => t('view.users.edit_profile'),
              'data-show-tooltip' => true
            ) %>
          </li>
          <li>
            <%= link_to(
              '&#x2192;'.html_safe, destroy_user_session_path,
              title: t('menu.actions.logout'), method: :delete,
              id: 'logout', 'data-show-tooltip' => true
            ) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
