<div class="row">
  <div class="col-md-4 hidden-xs">
    &nbsp;
  </div>
  <div class="public_form_container col-md-4">
    <h3>Inicio de sesión</h3>

    <div class="row-fuild">
      <div class="col-md-12">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, input_html: { autofocus: true, class: 'col-md-12' } %>
            <%= f.input :password, input_html: { class: 'col-md-12' } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <a href="javascript:void(0)" class="btn btn-default">Default</a>
<a href="javascript:void(0)" class="btn btn-primary">Primary</a>
<a href="javascript:void(0)" class="btn btn-success">Success</a>
<a href="javascript:void(0)" class="btn btn-info">Info</a>
<a href="javascript:void(0)" class="btn btn-warning">Warning</a>
<a href="javascript:void(0)" class="btn btn-danger">Danger</a>
<a href="javascript:void(0)" class="btn btn-link">Link</a>
            <%= render partial: 'shared/hidden_submit', locals: { f: f } %>
            <%= f.button :submit, 'Ola k ase', class: 'btn-primary',data: { 'ripple-color' => "#F0F0F0" } %>
            <%= show_button_dropdown(
              link_to('Ingresar', '#', class: 'btn btn-primary submit'),
              devise_links_es
            ) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if devise_mapping.recoverable? %>
  <div class="row">
    <div class="col-md-4 col-md-col-md-offset--4">
      <br />
      <p>
        <strong>Ayuda</strong>:
        <%= link_to('¿Olvidaste tu contraseña?', new_password_path(resource_name), id: 'reset-password') %>
      </p>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
</script>
