<h2><%%= @<%= singular_table_name %> %></h2>

<%- attributes.each do |attribute| -%>
<p>
  <strong><%%= <%= singular_table_name.camelize %>.human_attribute_name '<%= attribute.name %>' %></strong>:
  <%%= @<%= singular_table_name %>.<%= attribute.name.gsub(/_id$/, '') %> %>
</p>
<%- end -%>

<div class="panel-footer">
  <%%= link_to t('label.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) if can? :update, @<%= singular_table_name %> %> |
  <%%= link_to t('label.list'), <%= index_helper %>_path %>
</div>
